{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{asset('css/front_index.css')}}">
{% endblock %}

{% block body %}
  <nav class="nav">
     <div class="menu_action toggle_menu">
      <i class="fa fa-bars"></i>
    </div>
     <div class="logo">
        <i class="fa fa-shopping-bag"></i>
         {# <img class="logo" src="{{asset('images/default_logo.png')}}"> #}
    </div>
     <div class="user_information">
         <div class="">
           <i class="fa fa-search"></i>
           recherche
        </div>
        <div class="">
            <i class="fa fa-user"></i>
           Connexion
        </div>
    </div>
  </nav>
  {# slider #}
  <div class="slider">
       <div class="container_image_header">
       </div>
  </div>
<div class="container">
<div class="container_app">
    <div class="container_image_logo">
         
    </div>
       <div class="container_name">
            <span class="name_shop">Tsena rapide.mg</span>  
            <span class="slogan">Tout a pres pour vouts</span>
            <span class="closing" {# openning #}>Fermer</span>
       </div>
</div>
  {# menu #}
<div class="menu toogle_menu">
   <div class="container_close_btn">
    <button class="close_menu toggle_menu">
           <i class="fa fa-times"></i> 
     </button>
   </div>
    <div class="container_menu">
    </div>
  </div>
  {# body #}
<div class="body">

<div class="row">
{% for i in 1..10 %}
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
		<div class="cart">
			<div class="container_image_cart">
				<div class="image_cart">
					<img src="{{asset('images/8.png')}}" alt="">
				</div>
			</div>
      <div class="divider"></div>
			<div class="container_description">
				<span class="title">Titre</span>
				<span class="few_description">Petite description</span>
				<span class="price">55 000Ar</span>
			</div>
		</div>
	</div>
  {% endfor %}
</div>

</div>
</div>
 {# footer #}
  <div class="footer">
  footer
  </div>
{% endblock %}
  {% block javascripts %}
        <script src="{{asset('js/front_index.js')}}"></script>
    {% endblock %}
